<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}


<p style="text-align: center; background-color: transparant; font-size: 26px; color: #4F709C">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
        <a href="{{ site.baseurl }}{{ entry.url }}" style="color: #4F709C;" id="navitem">{{ entry.title }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ entry.url }} " style="color: #2C3333;" id="navitem">{{ entry.title }}</a>
        {% endif %}
        {% unless forloop.last %}
        <a id="navitem"> · </a>
        {% endunless %}
    {% endfor %}
</p>

<p style="text-align: center; background-color: transparant; font-size: 20px; color: #2C3333">
  {% for entry in site.data.navigation %}
    {% if entry.url == current_page and entry.sublinks %}
       {% for sublink in entry.sublinks %}
       <a href="{{ site.baseurl }}{{ entry.url }}{{ sublink.url }}" style="color: #000000">{{ sublink.title }}</a>
       {% unless forloop.last %}
       ·
       {% endunless %}
       {% endfor %}
     {% endif %}
   {% endfor %}
</p>

</div>
</div>
</div>
</div>
