<div class="grid">
  <div class="col-big">
     
  </div>
  <div class="col-big">
     <a href="https://helmholtzschool.nl/"><img src="../assets/img/HelmholtzInstitute-removebg.png" alt="Helmholtz Institute" width="350"/></a>
  </div>
  <div class="col-big">
     <a href="https://www.uu.nl/staff/dschutter"><img src="../assets/img/ACER_logos/ACER_logo_transp.png" alt="ACER lab" width="200"/></a>
  </div>
  <div class="col-big">
     <a href="https://www.uu.nl/en/organisation/experimental-psychology"><img src="../assets/img/UU_logo_2021_EN_BLACK2.png" alt="Utrecht University" width="400"/></a>
  </div>
  <div class="col-big">
     <a href="https://www.uu.nl/staff/dschutter"><img src="../assets/img/ACER_logos/ACER_logo_transp.png" alt="ACER lab" width="200"/></a>
  </div>
  <div class="col-big">
     <a href="https://www.nwo.nl/"><img src="../assets/img/NWO.jpg" alt="NWO" width="60"/></a>
  </div>
</div>
